<footer>
	<center>
		<div id="footer" class="bodydiv">
			Brought to you by Geordie Young, Charles Cunningham and Rifat Islam.<br>
			Have any questions?  Contact us <a href="/contact">here</a>.
		</div>
	</center>
</footer>
