<footer>
	<center>
		<div id="footer" class="bodydiv">
			Brought to you by Charles Cunningham and Anton Stengel.<br>
			Have any questions?  Contact us <a href="/contact">here</a>.
		</div>
	</center>
</footer>