<header>
	<div id="header">
		<div id="logout_div">
			<span id="headerGreeter"></span>
			<a id ="headerEdit" class="link styledlink"></a>
			<span id="headerDivider"></span>
			<a id ="headerLogout" class="link styledlink"></a>
		</div>
		<h1><a href="/" class="headerlink">P, R, S: Showdown</a></h1>
		<div id="nav_bar">
			<a href ="/rules" class="headerlink">Rules</a>
			|
			<a id="statsLink" href ="/stats" class="headerlink">Stats</a>
			|
			<a href ="/about" class="headerlink">About</a>
			|
			<a href ="/" class="headerlink">Game</a>
		</div>
	</div>
</header>