<!DOCTYPE html>
<html>
	<head>
		<title>P,R,S - About</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>About Paper, Rock, Scissors: Showdown</h2>
			<br>
			This app is meant to demonstrate the basic concepts necessary to run an Express server.
			<br>
			<br>
			All villain images downloaded with permission from <a href="https://thenounproject.com/">the Noun Project.</a>  Most research was done on <a href="https://www.w3schools.com">W3 Schools.</a>  Animated mario hands (user images) downloaded without permission (but in accordance with their terms of use) from <a href="https://www.clipartmax.com/">Clipart Max.</a>
			<br><br>
			<h2>Image Credits: </h2>
			<br>Bones: <a href="https://thenounproject.com/bartlaubsch/">Bart Laubsch</a> 
			<br>Comic Hans: <a href="https://thenounproject.com/josieschultzz/collection/things-i-drew/">Josie Schultzz</a>
			<br>Gato: <a href="https://thenounproject.com/strokeicon/collection/gesture/">Strokeicon</a>
			<br>Harry: <a href="https://thenounproject.com/danny_mustache/">Dan Lowenstein</a> 
			<br>Manny: <a href="https://thenounproject.com/AliceNoir/collection/manicure/">Alice Noir</a> 
			<br>Mickey: <a href="https://thenounproject.com/cristiano.zoucas/">Cristiano Zoucas</a>
			<br>Mr. Modern: <a href="https://thenounproject.com/swierq/">Maciej Świerczek</a>
			<br>Pixie: <a href="https://thenounproject.com/filippolessio/">Filippo Lessio</a> 
			<br>Ref: <a href="https://thenounproject.com/korawan_m/">BomSymbols</a>
			<br>Regal: <a href="https://thenounproject.com/lefthandedgraphic/collection/king-hand/">LeftHandedGraphic</a>
			<br>Spock: <a href="https://thenounproject.com/ARF!/collection/some-handsome-hands/">Rafaël Massé</a>
			<br>The Boss: <a href="https://thenounproject.com/daouna/">Daouna Jeong</a> 
			<br>The Magician: <a href="https://thenounproject.com/swierq/">Maciej Świerczek</a> 
		</div>
		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>