<!DOCTYPE html>
<html>
	<head>
		<title>P,R,S - About</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>About the Bumps and Crashes API</h2>
			<br>
			In this project, we looked at two API's from the <a href="https://opendata.cityofnewyork.us/">NYCOpenData</a> database.
			After we retrieved such data, we parsed the data into a format that we would be able to utilize for our project.
			We chose two databases that we thought would be relavent to the city in which we live:
				<br>
				<div style="text-align: left;">
					<br>
					<ul>
						<li><a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95">The Number of Motor Vechile Crashes</a> according to the NYPD.</li>
							<br>
						<li><a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95">Locations of Speed Humps</a> throughout New York City based off their longitudes and latitudes.</li>
					<ul>
				</div>
			<br>
			<br>

		</div>
		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>
