<!DOCTYPE html>
<html>
	<head>
		<title>BAC - About</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>About the Bumps and Crashes API</h2>
			<br>

			This API exposes data on speed bumps and traffic accidents from the <a href="https://opendata.cityofnewyork.us/">NYCOpenData</a> database.				<br>
				<div style="text-align: left;">
					<br>
					<ul>
						<li><a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95">The Number of Motor Vechile Crashes</a> according to the NYPD.</li>
							<br>
						<li><a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95">Locations of Speed Humps</a> throughout New York City.</li>
					<ul>
				</div><br>

To use this API, you must sign up for an API key.  Then, you can request filtered data via the <code>/crashes</code> and <code>/bumps</code> routes.  Three parameters must be included in all requests: <code>apikey</code>, <code>keyword</code>, and <code>keywordtype</code>.  You can search by 5 keyword types:
<ul class="nobullet">
	<li><code>beforedate</code></li>
	<li><code>afterdate</code></li>
	<li><code>zipcode</code></li>
	<li><code>street</code></li>
	<li><code>borough</code></li>
</ul>
	For <code>beforedate</code> and <code>afterdate</code>, the keyword must be in the form <code>dd/mm/yyyy</code>.  An example request to our API would be: <br><br><code>http://ciy-bumpsandcrashes-api.herokuapp.com/bumps?apikey=YOUR_API_KEY&keywordtype=zipcode&keyword=10128</code>

			<br>
			<br>

		</div>
		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>
