<!DOCTYPE html>
<html>
	<head>
		<title>P,R,S - Contact</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>Contact Us</h2>
			<br>
			Anton Stengel: <a href="mailto:anton.stengel19@trinityschoolnyc.org" target="_top">anton.stengel19@trinityschoolnyc.org</a><br>
			Charles Cunningham: <a href="mailto:charles.cunningham19@trinityschoolnyc.org" target="_top">charles.cunningham19@trinityschoolnyc.org</a><br>
			Mr. Gohde: <a href="mailto:justin.gohde@trinityschoolnyc.org" target="_top">justin.gohde@trinityschoolnyc.org</a>
		</div>
		<script src="scripts/scripts.js"></script>
	</body>
</html>