<!DOCTYPE html>
<html>
	<head>
		<title>BAC - Index</title>
		<link rel="stylesheet" href="<%if(locals.newuser){%>./../<%}%>styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
	</head>
	<body>
		<% include global/header %>
		<div id="feedback">
		</div>
		<div id="enter_name" class="bodydiv">
			<br>
			<h2>Welcome to the Bumps and Crashes API boop</h2>
			<%if(locals.user){%>
			<p><%=user.result%></p>
			<%}else{%>
			<p><%="Please log in."%></p>
			<%}%>


			<form action="/login" method="get">
				Username:<input type="text" id="enter_name_input" name="player_name" required>
				Password:<input type="text" id="enter_password_input" name="player_password" required>
				<button type="submit" id = "enter_name_button">Login</button>
			</form>
			<br>
			<a class="styledlink" href="/user/new">Create account</a>
		</div>

		<div class="bodydiv">
			<p>Our project is aimed at comparing data between traffic incidents and the presence of speed humps. We will be using NYCOpenData to try to find connections between the data. Our goal is to test our hypothesis that an increase in speed bumps in certain areas leads to a decrease in traffic incidents. </p>
		</div>

		<span id="userBox"><%for(var i=0;i<users.length;i++){%><%-users[i]%>,<%}%></span>
		<% include global/footer %>
		<script src="<%if(locals.newuser){%>./../<%}%>scripts/scripts.js"></script>
	</body>
</html>
